html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	font-size: 100%;
	font: inherit;
	padding: 0;
	border: 0;
	margin: 0;
	vertical-align: baseline;
}
body {
	line-height: 1;
}
ol,
ul {
	list-style: none;
}
blockquote,
q {
	quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}
.main__clear {
	clear: both;
}
.main__sticky {
}
.main__bypostauthor {
}
.main__wp-caption {
}
.main__wp-caption-text {
}
.main__gallery-caption {
}
.main__alignright {
}
.main__alignleft {
}
.main__aligncenter {
}
.main__screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	margin: 0;
	padding: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}
body {
	line-height: 1;
}
ol,
ul {
	list-style: none;
}
blockquote,
q {
	quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
textarea {
	resize: none;
}
button {
	display: block;
	line-height: inherit;
	font-family: inherit;
	font-size: inherit;
	color: inherit;
	background: none;
	text-align: left;
	cursor: pointer;
}
button:hover {
	cursor: pointer;
}
button:focus {
	outline: none;
}
input {
	-webkit-appearance: none;
	border-radius: 0;
	font-family: inherit;
	font-size: inherit;
	background: none;
}
*,
*:before,
*:after {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}
body {
	width: 100%;
	min-width: 320px;
	overflow-x: hidden;
	font-feature-settings: "kern" 1, "kern";
	-webkit-font-kerning: normal;
	        font-kerning: normal;
	-webkit-tap-highlight-color: transparent;
	-webkit-text-size-adjust: 100%;
}
body::-webkit-scrollbar {
	width: 0 !important;
}
a {
	display: block;
	cursor: pointer;
	color: inherit;
	text-decoration: none;
}
p a {
	display: inline;
}
em {
	font-style: italic;
}
strong {
	font-weight: bold;
}
img,
video {
	width: 100%;
	display: block;
}
figure.main__contain img,
figure.main__contain video {
	-o-object-fit: contain;
	   object-fit: contain;
}
figure.main__cover img,
figure.main__cover video {
	-o-object-fit: cover;
	   object-fit: cover;
}
@font-face {
  font-family: "JJannon";
  src: url("/static/fonts/JJannon-Regular.woff2") format("woff2"),
    url("/static/fonts/JJannon-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "JJannon";
  src: url("/static/fonts/JJannon-Italic.woff2") format("woff2"),
    url("/static/fonts/JJannon-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
}
:root {
  --marginOuter: 10px;
  --marginMedium: 3rem;
  --font-size--large: 3rem;
}
::-moz-selection {
  background: rgba(0, 0, 0, 0.99);
  color: white;
}
::selection {
  background: rgba(0, 0, 0, 0.99);
  color: white;
}
::-moz-selection {
  background: rgba(0, 0, 0, 0.99);
  color: white;
}
html {
  font-size: 16px;
}
body {
  font-family: "JJannon";
  font-size: 1rem;
  line-height: 1.25;
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/*  Main */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
main {
  position: relative;
  display: block;
  margin-top: calc(var(--headerH) + 3rem);
  margin-top: calc(var(--headerH) + var(--marginMedium));
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/*  Intro */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/*  Footer */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
footer {
  padding: 10px;
  padding: var(--marginOuter);
}


/*# sourceMappingURL=styles.chunk.css.map*/